In [1]:
import pandas as pd
from pprint import pprint
from mums_little_helper import *
pd.set_option('max_colwidth', 400)

In [2]:
ps_a, dr_a = slice_the_cack('Jul_Nov2019_ANON.csv', 2019, 9, 7)
depts = get_employees_by_dept(ps_a, dr_a)
account_sums = get_sums(ps_a, dr_a, depts)
piece_dict = pieces_of_me(account_sums, depts)
dfs = sum_and_separate_by_dept(piece_dict)
dfs_x = merge_dfs(dfs)

In [3]:
dr_a

DatetimeIndex(['2019-09-01', '2019-09-02', '2019-09-03', '2019-09-04',
               '2019-09-05', '2019-09-06', '2019-09-07'],
              dtype='datetime64[ns]', freq='D')

In [4]:
account_sums

{'fractmo': {8: 1.0},
 'txs_by_emp': {'Adams, L': 39.67,
  'Avery, B': 27.98,
  'Bingo, Nolan': 47.89999999999999,
  'Chorse, MD': 27.28,
  'Clyde-Owens, L': 48.42,
  'Cole, AH': 17.94,
  'Conde, Barb': 24.53,
  'Fray-Chase, Jay': 28.779999999999998,
  'Graybranch, Linne': 40.52,
  'Gunn, Jim': 41.129999999999995,
  'Heart, Ray': 47.22,
  'Hedrovin, Zed': 7.949999999999999,
  'LaRay, Jane': 40.05,
  'Lentifold, Eddie': 27.47,
  'Mattison, Ronnie G.': 37.85,
  'Peace, Jesse B.': 21.38,
  'Peet, Angela L': 58.089999999999996,
  'Picken, James': 18.98,
  'Pino, Kola': 33.209999999999994,
  'Rich, Chiccie SR.': 40.86,
  'Ryan, Noam': 28.94,
  'Stark, Nancy B': 12.12,
  'Teddy, Aimee': 27.77,
  'Van Wilson, Len P.': 61.57},
 'txs_for_depts_emps': {'61101 · Salary & Wages-Packaging': 39.67,
  '61104 · Salary & Wages-Bakery': 234.15999999999997,
  '61109 · Salary & Wages-Produce': 49.36,
  '61141 · Salary & Wages-Admin': 286.5,
  '61142 · Salary & Wages-Store': 197.92},
 'wgs': {'61101 · Salary & Wages-Packaging': 408.66,
  '61104 · Salary & Wages-Bakery': 2837.27,
  '61107 · Salary & Wages-Deli': 0.0,
  '61109 · Salary & Wages-Produce': 555.73,
  '61141 · Salary & Wages-Admin': 4238.93,
  '61142 · Salary & Wages-Store': 2278.19}}

In [5]:
piece_dict

{8: {'cn': {'61101 · Salary & Wages-Packaging': 448.33000000000004,
   '61104 · Salary & Wages-Bakery': 3071.43,
   '61109 · Salary & Wages-Produce': 605.09,
   '61141 · Salary & Wages-Admin': 4525.43,
   '61142 · Salary & Wages-Store': 2476.11},
  'depts': {'61101 · Salary & Wages-Packaging': {'Adams, L': 39.67},
   '61104 · Salary & Wages-Bakery': {'Bingo, Nolan': 47.9,
    'Cole, AH': 17.94,
    'Conde, Barb': 24.53,
    'Fray-Chase, Jay': 28.78,
    'Heart, Ray': 47.22,
    'Hedrovin, Zed': 7.95,
    'Picken, James': 18.98,
    'Rich, Chiccie SR.': 40.86},
   '61109 · Salary & Wages-Produce': {'Avery, B': 27.98,
    'Peace, Jesse B.': 21.38},
   '61141 · Salary & Wages-Admin': {'Clyde-Owens, L': 48.42,
    'Graybranch, Linne': 40.52,
    'LaRay, Jane': 40.05,
    'Mattison, Ronnie G.': 37.85,
    'Peet, Angela L': 58.09,
    'Van Wilson, Len P.': 61.57},
   '61142 · Salary & Wages-Store': {'Chorse, MD': 27.28,
    'Gunn, Jim': 41.13,
    'Lentifold, Eddie': 27.47,
    'Pino, Kola': 33.21,
    'Ryan, Noam': 28.94,
    'Stark, Nancy B': 12.12,
    'Teddy, Aimee': 27.77}},
  'txs_for_depts_emps': {'61101 · Salary & Wages-Packaging': 39.67,
   '61104 · Salary & Wages-Bakery': 234.15999999999997,
   '61109 · Salary & Wages-Produce': 49.36,
   '61141 · Salary & Wages-Admin': 286.5,
   '61142 · Salary & Wages-Store': 197.92},
  'wgs': {'61101 · Salary & Wages-Packaging': 408.66,
   '61104 · Salary & Wages-Bakery': 2837.27,
   '61107 · Salary & Wages-Deli': 0.0,
   '61109 · Salary & Wages-Produce': 555.73,
   '61141 · Salary & Wages-Admin': 4238.93,
   '61142 · Salary & Wages-Store': 2278.19}}}

In [6]:
dfs

[                                    Wages  Month
 61101 · Salary & Wages-Packaging   408.66      8
 61104 · Salary & Wages-Bakery     2837.27      8
 61107 · Salary & Wages-Deli          0.00      8
 61109 · Salary & Wages-Produce     555.73      8
 61141 · Salary & Wages-Admin      4238.93      8
 61142 · Salary & Wages-Store      2278.19      8,
                                    Taxes
 61101 · Salary & Wages-Packaging   39.67
 61104 · Salary & Wages-Bakery     234.16
 61109 · Salary & Wages-Produce     49.36
 61141 · Salary & Wages-Admin      286.50
 61142 · Salary & Wages-Store      197.92,
                                                                                                                                                                                                                   Employees
 61101 · Salary & Wages-Packaging                                                                                                                                                                        {'Adams, L': 39.67}
 61104 · Salary & Wages-Bakery     {'Bingo, Nolan': 47.9, 'Cole, AH': 17.94, 'Conde, Barb': 24.53, 'Fray-Chase, Jay': 28.78, 'Heart, Ray': 47.22, 'Hedrovin, Zed': 7.95, 'Picken, James': 18.98, 'Rich, Chiccie SR.': 40.86}
 61109 · Salary & Wages-Produce                                                                                                                                                {'Avery, B': 27.98, 'Peace, Jesse B.': 21.38}
 61141 · Salary & Wages-Admin                                {'Clyde-Owens, L': 48.42, 'Graybranch, Linne': 40.52, 'LaRay, Jane': 40.05, 'Mattison, Ronnie G.': 37.85, 'Peet, Angela L': 58.09, 'Van Wilson, Len P.': 61.57}
 61142 · Salary & Wages-Store                                 {'Chorse, MD': 27.28, 'Gunn, Jim': 41.13, 'Lentifold, Eddie': 27.47, 'Pino, Kola': 33.21, 'Ryan, Noam': 28.94, 'Stark, Nancy B': 12.12, 'Teddy, Aimee': 27.77},
                                   Totals_WnT
 61101 · Salary & Wages-Packaging      448.33
 61104 · Salary & Wages-Bakery        3071.43
 61109 · Salary & Wages-Produce        605.09
 61141 · Salary & Wages-Admin         4525.43
 61142 · Salary & Wages-Store         2476.11]

In [7]:
dfs_x

,Wages,Month,Taxes,Employees,Totals_WnT
61101 · Salary & Wages-Packaging,408.66,8,39.67,"{'Adams, L': 39.67}",448.33
61104 · Salary & Wages-Bakery,2837.27,8,234.16,"{'Bingo, Nolan': 47.9, 'Cole, AH': 17.94, 'Conde, Barb': 24.53, 'Fray-Chase, Jay': 28.78, 'Heart, Ray': 47.22, 'Hedrovin, Zed': 7.95, 'Picken, James': 18.98, 'Rich, Chiccie SR.': 40.86}",3071.43
61109 · Salary & Wages-Produce,555.73,8,49.36,"{'Avery, B': 27.98, 'Peace, Jesse B.': 21.38}",605.09
61141 · Salary & Wages-Admin,4238.93,8,286.50,"{'Clyde-Owens, L': 48.42, 'Graybranch, Linne': 40.52, 'LaRay, Jane': 40.05, 'Mattison, Ronnie G.': 37.85, 'Peet, Angela L': 58.09, 'Van Wilson, Len P.': 61.57}",4525.43
61142 · Salary & Wages-Store,2278.19,8,197.92,"{'Chorse, MD': 27.28, 'Gunn, Jim': 41.13, 'Lentifold, Eddie': 27.47, 'Pino, Kola': 33.21, 'Ryan, Noam': 28.94, 'Stark, Nancy B': 12.12, 'Teddy, Aimee': 27.77}",2476.11

In [8]:
dfs_x['Month'].nunique()

1

In [46]:
when running 9-8 bakery taxes are way off, stores taxes are way off

SyntaxError: invalid syntax (<ipython-input-46-6d517d19c0f7>, line 1)

In [ ]:
when running 10-10 admin is $10 off, bakery is off, store is off

In [ ]:
when running 11-7 packaging $30 off,

In [ ]:
don't have data into december to run 12-7